.head{
  background-color: rgb(154, 90, 154);
}
.App{
  text-align: center;
}
.top{
  text-align: left;
  margin-left: 15px;
  margin-top: 20px;
}

.post{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  border: 1px solid;
  margin: 1em;
  padding: 1em;
  text-align: left;
}
.post-icons{
  
}